<footer>
        <p>&copy; 2024 CardNation</p>
        <section class="phones">
            <a>+504 9730-2038</a>
            <a href="https://www.instagram.com/cardnationhn/">
            <img src="/instagram.png" alt="Instagram">
        </a>
        </section>
        <nav>
            <ul>
                <li><a href="/proyectofinal_pw2/index.html">Inicio</a></li>
                <li><a href="/proyectofinal_pw2/productos.html">Productos</a></li>
                <li><a href="/proyectofinal_pw2/acerca.html">Sobre Nosotros</a></li>
                <li><a href="/proyectofinal_pw2/contactanos.html">Contáctenos</a></li>
            </ul>
        </nav>
</footer>
