<header>
    <input type="checkbox" id="check">
    <label class="hamburger" for="check">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <section class="titulo">
        <h1><span class="tcard">CARD</span><span class="tnation">NATION</span></h1>
    </section>
    <nav>
        <ul>
            <li><a href="/proyectofinal_pw2/index.html">Inicio</a></li>
            <li><a href="/proyectofinal_pw2/productos.html">Productos</a></li>
            <li><a href="/proyectofinal_pw2/acerca.html">Sobre Nosotros</a></li>
            <li><a href="/proyectofinal_pw2/contactanos.html">Contáctenos</a></li>
        </ul>
    </nav>
    <nav class="menu-ham">
        <ul>
            <li><a href="/proyectofinal_pw2/index.html">Inicio</a></li>
            <li><a href="/proyectofinal_pw2/productos.html">Productos</a></li>
            <li><a href="/proyectofinal_pw2/acerca">Sobre Nosotros</a></li>
            <li><a href="/proyectofinal_pw2/contactanos.html">Contáctenos</a></li>
            <li><a href="/proyectofinal_pw2/ayudar">Cómo Ayudar</a></li>
            <li><a href="/proyectofinal_pw2/galeria.html">Galería</a></li>
            <li><a href="/proyectofinal_pw2/blog.html">Blog</a></li>
            <li><a href="/proyectofinal_pw2/eventos.html">Eventos</a></li>
            <li><a href="/proyectofinal_pw2/donaciones.html">Página de donaciones</a></li>
            <li><a href="/proyectofinal_pw2/preguntas.html">Preguntas frecuentes</a></li>
        </ul>
    </nav>
</header>
